[global_config]
  inactive_color_offset = 1.0
  title_use_system_font = False
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#002b36"
    background_image = None
    font = DejaVu Sans Mono 11
    foreground_color = "#e6e6e6"
    use_system_font = False
